In [4]:

from primer_finder.config.constants import OUTPUT_FILE_PATH
import pandas as pd
#my_result = pd.read_csv("../../data/primer-finder-result-0.csv", sep=",")
my_result = pd.read_csv("./data/primer-finder-result-mini.csv", sep=",")

In [5]:
my_result

,Unnamed: 0,BOLD ID,Read ID,Country,Phylum,Class,Order,Family,Genus,Species,f_score,f_match,f_index,b_score,b_match,b_index,read,possible_orfs,ORF
0,0,>BOLD:AET2090,GBMNF52614-22,Spain,tax=p:Arthropoda,c:Insecta,o:Coleoptera,f:Curculionidae,g:Torneuma,s:Torneuma_aphroditae,52,GGAACAGGATGAACTGTATACCCTCC,319,46,CCTGTTTTAGCAGGAGCTATCAC,550,TCTATCTATAAATATTGCTCATGAAGGAGCCTCAGTTGACTTGGCT...,[1],1
1,1,>BOLD:AET2090,GBMNF52613-22,Spain,tax=p:Arthropoda,c:Insecta,o:Coleoptera,f:Curculionidae,g:Torneuma,s:Torneuma_aphroditae,52,GGAACAGGATGAACTGTATACCCTCC,319,46,CCTGTTTTAGCAGGAGCTATCAC,550,TCTATCTATAAATATTGCTCATGAAGGAGCCTCAGTTGACTTGGCT...,[1],1
2,2,>BOLD:AET2090,GBMNF52615-22,Spain,tax=p:Arthropoda,c:Insecta,o:Coleoptera,f:Curculionidae,g:Torneuma,s:Torneuma_aphroditae,52,GGAACAGGATGAACTGTATACCCTCC,319,46,CCTGTTTTAGCAGGAGCTATCAC,550,TCTATCTATAAATATTGCTCATGAAGGAGCCTCAGTTGACTTGGCT...,[1],1
3,3,>BOLD:ACL5676,IBLAO1101-14,Spain,tax=p:Arthropoda,c:Insecta,o:Lepidoptera,f:Erebidae,g:Artimelia,s:Artimelia_latreillii,52,GGAACAGGATGAACAGTTTATCCCCC,319,46,CCTGTATTAGCAGGAGCTATTAC,550,TCTTTCTTCTAATATTGCTCATGGAGGAAGATCTGTCGATTTAGCT...,[1],1
4,4,>BOLD:AAV9072,ANIAA033-11,Australia,tax=p:Arthropoda,c:Insecta,o:Lepidoptera,f:Xyloryctidae,g:Crypsicharis,s:Crypsicharis_neocosma,52,GGAACAGGTTGAACAGTTTACCCCCC,319,46,CCAGTATTAGCCGGAGCAATTAC,550,TCTTTCATCTAATATTGCCCATAATGGAAGATCTGTAGATTTAGCT...,[1],1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,269,>BOLD:AAV9072,ANIAA034-11,Australia,tax=p:Arthropoda,c:Insecta,o:Lepidoptera,f:Xyloryctidae,g:Crypsicharis,s:Crypsicharis_neocosma,52,GGAACAGGTTGAACAGTTTACCCCCC,319,46,CCAGTATTAGCCGGAGCAATTAC,550,TCTTTCATCTAATATTGCCCATAATGGAAGATCTGTAGATTTAGCT...,[1],1
270,270,>BOLD:AAV9072,ANICV151-11,Australia,tax=p:Arthropoda,c:Insecta,o:Lepidoptera,f:Xyloryctidae,g:Crypsicharis,s:Crypsicharis_neocosma,52,GGAACAGGTTGAACAGTTTACCCCCC,319,25,CTGTAGGAATTACAGCT-TTACTTTTATTAC,512,TCTTTCATCTAATATTGCCCATAATGGAAGATCTGTAGATTTAGCT...,[1],1
271,271,>BOLD:AAV9072,ANICV117-11,Australia,tax=p:Arthropoda,c:Insecta,o:Lepidoptera,f:Xyloryctidae,g:Crypsicharis,s:Crypsicharis_neocosma,52,GGAACAGGTTGAACAGTTTACCCCCC,319,46,CCAGTATTAGCCGGAGCAATTAC,550,TCTTTCATCTAATATTGCCCATAATGGAAGATCTGTAGATTTAGCT...,[1],1
272,272,>BOLD:ACP1137,SICOC440-18,Malaysia,tax=p:Arthropoda,c:Insecta,o:Diptera,f:Dolichopodidae,g:Chrysosoma,s:Chrysosoma_vittatum,29,TACAGGAATTACATTAGACCGAATACCCT,123,43,CCAGTACTTGCAGGAGCAATCAC,202,TATTTGTATGGTCAGTAGTAATTACAGCAATTCTCTTACTACTTTC...,"[1, 2]",2
273,273,>BOLD:AAP2728,FBAPC363-10,Turkey,tax=p:Arthropoda,c:Insecta,o:Hymenoptera,f:Megachilidae,g:Osmia,s:Osmia_viridana,52,GGAACAGGATGAACTGTTTATCCTCC,319,46,CCTGTATTAGCTGGGGCAATCAC,550,TCTATCTTCTCACTTATATCACTCCTCACCTTCAGTAGATTTAGCT...,"[0, 1]",1

In [6]:
remaining_results = my_result[~my_result['possible_orfs'].str.contains(r'\[\]')]
solved_results = remaining_results[~remaining_results['possible_orfs'].str.contains(',')]

In [7]:
remaining_results

,Unnamed: 0,BOLD ID,Read ID,Country,Phylum,Class,Order,Family,Genus,Species,f_score,f_match,f_index,b_score,b_match,b_index,read,possible_orfs,ORF
0,0,>BOLD:AAA7085,BLPDA1021-18,Costa_Rica,tax=p:Arthropoda,c:Insecta,o:Lepidoptera,f:Saturniidae,g:Lonomia,s:Lonomia_santarosensis,0,NaN,372,46,CCTGTTTTAGCAGGAGCTATTAC,536,TAGCTATTTTTTCTTTACATTTAGCCGGTATTTCTTCAATTTTAGG...,[2],2
1,1,>BOLD:AAA7085,MHMYN6354-14,Costa_Rica,tax=p:Arthropoda,c:Insecta,o:Lepidoptera,f:Saturniidae,g:Lonomia,s:Lonomia_santarosensis,0,NaN,386,46,CCTGTTTTAGCAGGAGCTATTAC,550,TAGCTATTTTTTCTTTACATTTAGCCGGTATTTCTTCAATTTTAGG...,[2],2
2,2,>BOLD:AAA7085,MHASB734-07,Costa_Rica,tax=p:Arthropoda,c:Insecta,o:Lepidoptera,f:Saturniidae,g:Lonomia,s:Lonomia_santarosensis,0,NaN,386,46,CCTGTTTTAGCAGGAGCTATTAC,550,TAGCTATTTTTTCTTTACATTTAGCCGGTATTTCTTCAATTTTAGG...,[2],2
3,3,>BOLD:AAA7085,MHATB310-06,Costa_Rica,tax=p:Arthropoda,c:Insecta,o:Lepidoptera,f:Saturniidae,g:Lonomia,s:Lonomia_santarosensis,0,NaN,386,46,CCTGTTTTAGCAGGAGCTATTAC,550,TAGCTATTTTTTCTTTACATTTAGCCGGTATTTCTTCAATTTTAGG...,[2],2
4,4,>BOLD:AAA7085,BLPAA6663-17,Costa_Rica,tax=p:Arthropoda,c:Insecta,o:Lepidoptera,f:Saturniidae,g:Lonomia,s:Lonomia_santarosensis,0,NaN,386,46,CCTGTTTTAGCAGGAGCTATTAC,550,TAGCTATTTTTTCTTTACATTTAGCCGGTATTTCTTCAATTTTAGG...,[2],2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371156,2371156,>BOLD:ADT4281,GBDP26300-19,Thailand,tax=p:Arthropoda,c:Insecta,o:Diptera,f:Tabanidae,g:Haematopota,s:Haematopota_pachycera,52,GGTACTGGTTGAACAGTTTACCCCCC,319,43,CCGGTATTAGCTGGTGCTATTAC,550,GTTATCAGCGGCTATTGCCCATGGAGGAGGATCAGTAGATTTAGCA...,"[0, 1]",1
2371157,2371157,>BOLD:ADW7323,GBCRO795-19,NaN,tax=p:Arthropoda,c:Copepoda,o:Calanoida,f:Diaptomidae,g:Sinodiaptomus,s:Sinodiaptomus_sarsi,40,GGCACAGGGTGGACAGTCTACCCCCC,282,37,CCGGTACTGGCGGGGGCTATTAC,513,CCTATCCAGAAATATCGCACACGCAGGGAGCTCCGTGGACTTCGCC...,"[0, 1]",1
2371158,2371158,>BOLD:AAZ5344,GCQT1984-17,Australia,tax=p:Arthropoda,c:Insecta,o:Diptera,f:Pipunculidae,g:Clistoabdominalis,s:Clistoabdominalis_nutatus,0,NaN,386,46,CCTGTTTTAGCTGGAGCTATTAC,550,TAGCGATCTTTTCACTTCATCTTGCCGGTATTTCATCAATTTTAGG...,"[1, 2]",2
2371159,2371159,>BOLD:ADR6847,GBGL35064-19,NaN,tax=p:Arthropoda,c:Insecta,o:Lepidoptera,f:Lycaenidae,g:Lampides,s:Lampides_boeticus,46,GGAACAGGATGGACAGTGTACCCCCC,319,40,CCTGTTTTTGCGGGAGCTATTAC,550,ACTTTCATCTCATATTGCACATGGAGGTTCATCTGTTGGTTTTGCA...,"[0, 1, 2]",1
2371160,2371160,>BOLD:ACM6318,GBMIN30773-13,Kenya,tax=p:Arthropoda,c:Insecta,o:Diptera,f:Drosophilidae,g:Phortica,s:Phortica_machoruka,52,GGAACAGGTTGAACTGTTTACCCTCC,360,43,CCAGTACTTGCAGGAGCTATTAC,591,TTTATCAGCAGGTATTGCTCATGGAGGAGCTTCAGTTGATTTAGCT...,"[0, 1]",1

In [8]:
from Bio.Seq import Seq
a = "CNNNNN"
Seq(a).translate(table=5)

Seq('XX')

In [9]:
import pyhmmer

seqs= []
seqs.append(pyhmmer.easel.TextSequence(name="a".encode(), sequence="XXX"))
seqs.append(pyhmmer.easel.TextSequence(name="b".encode(), sequence="XXXXX"))

msa = pyhmmer.easel.TextMSA(name=b"myMSA", sequences=seqs)

ValueError: all sequences must have the same length

In [10]:
import pandas as pd

def fasta_to_dataframe(fasta_file):
    headers = []
    sequences = []
    with open(fasta_file, 'r') as f:
        current_sequence = []
        current_header = None
        for line in f:
            line = line.strip()
            if line.startswith('>'):  # Header line
                if current_header is not None:
                    # Save the previous sequence
                    headers.append(current_header)
                    sequences.append(''.join(current_sequence))
                current_header = line[1:]  # Remove '>'
                current_sequence = []
            else:
                current_sequence.append(line)
        # Add the last sequence
        if current_header is not None:
            headers.append(current_header)
            sequences.append(''.join(current_sequence))
    # Create a DataFrame
    return pd.DataFrame({'Header': headers, 'Sequence': sequences})

fasta_file = "../data/DB.COX1.fna"
full_dataset = fasta_to_dataframe(fasta_file)

full_dataset[['BOLD Metadata', 'Taxonomy']] = full_dataset['Header'].str.split(';', n=1, expand=True)
full_dataset[['BOLD ID', 'Read ID', 'Country']] = full_dataset['BOLD Metadata'].str.split('|', n=2, expand=True)
full_dataset['BOLD ID'] = full_dataset['BOLD ID'].str.removeprefix('BOLD:')

tax_columns = ['Phylum', 'Class', 'Order', 'Family', 'Genus', 'Species']
full_dataset[tax_columns] = full_dataset['Taxonomy'].str.extract(
    r'p:([^,]+),c:([^,]+),o:([^,]+),f:([^,]+),g:([^,]+),s:([^;]+)'
)

full_dataset = full_dataset.drop(columns=['Header', 'BOLD Metadata', 'Taxonomy'])
print(full_dataset.head())

                                            Sequence  BOLD ID       Read ID  \
0  TCTTTGGAATTTGGGCAGGAATAGTAGGAACTTCTTTAAGTTTATT...  AAA7085  BLPDA1021-18
1  TACTTTATATTTTATCTTTGGAATTTGGGCAGGAATAGTAGGAACT...  AAA7085  MHMYN6354-14
2  TACTTTATATTTTATCTTTGGAATTTGGGCAGGAATAGTAGGAACT...  AAA7085   MHASB734-07
3  TACTTTATATTTTATCTTTGGAATTTGGGCAGGAATAGTAGGAACT...  AAA7085   MHATB310-06
4  TACTTTATATTTTATCTTTGGAATTTGGGCAGGAATAGTAGGAACT...  AAA7085  BLPAA6663-17

      Country      Phylum    Class        Order       Family    Genus  \
0  Costa_Rica  Arthropoda  Insecta  Lepidoptera  Saturniidae  Lonomia
1  Costa_Rica  Arthropoda  Insecta  Lepidoptera  Saturniidae  Lonomia
2  Costa_Rica  Arthropoda  Insecta  Lepidoptera  Saturniidae  Lonomia
3  Costa_Rica  Arthropoda  Insecta  Lepidoptera  Saturniidae  Lonomia
4  Costa_Rica  Arthropoda  Insecta  Lepidoptera  Saturniidae  Lonomia

                 Species
0  Lonomia_santarosensis
1  Lonomia_santarosensis
2  Lonomia_santarosensis
3  Lonomia_santarosensis
4  Lonomia_santarosensis

In [26]:
my_result = pd.read_csv("../data/primer-finder-result-0.csv", sep=",")
my_result['region_length'] = my_result['read'].str.len()

In [27]:
my_result['f_length'] = my_result['f_match'].str.len()
my_result['b_length'] = my_result['b_match'].str.len()

In [28]:
my_result = my_result.merge(
    full_dataset[["Read ID", "Sequence"]],
    on="Read ID",
    how="left"
)

In [29]:
my_result['f_match_2'] = my_result.apply(
    lambda row: row['Sequence'][row['f_index']:row['f_index'] + len(row['f_match'])]
    if pd.notna(row['Sequence']) and pd.notna(row['f_index']) and pd.notna(row['f_match'])
    else None,
    axis=1
)
no_nan = my_result[~my_result['f_match'].isna()]
no_skips = no_nan[~no_nan['f_match'].str.contains('-')]
no_skips[no_skips['f_match_2'] != no_skips['f_match']]

Empty DataFrame
Columns: [Unnamed: 0, BOLD ID, Read ID, Country, Phylum, Class, Order, Family, Genus, Species, f_score, f_match, f_index, b_score, b_match, b_index, read, possible_orfs, ORF, region_length, f_length, b_length, Sequence, f_match_2]
Index: []

[0 rows x 24 columns]

In [30]:
critical_seqs = my_result[my_result['f_index'] < 0]
no_skips = critical_seqs[~critical_seqs['f_match'].str.contains('-')]
no_skips.loc[:,'f_index'] = 0
no_skips['f_match_3'] = no_skips.apply(
    lambda row: row['Sequence'][row['f_index']:row['f_index'] + len(row['f_match'])]
    if pd.notna(row['Sequence']) and pd.notna(row['f_index']) and pd.notna(row['f_match'])
    else None,
    axis=1
)
no_skips

Empty DataFrame
Columns: [Unnamed: 0, BOLD ID, Read ID, Country, Phylum, Class, Order, Family, Genus, Species, f_score, f_match, f_index, b_score, b_match, b_index, read, possible_orfs, ORF, region_length, f_length, b_length, Sequence, f_match_2, f_match_3]
Index: []

[0 rows x 25 columns]

In [31]:
my_result['b_match_2'] = my_result.apply(
    lambda row: row['Sequence'][row['b_index']:row['b_index'] + len(row['b_match'])]
    if pd.notna(row['Sequence']) and pd.notna(row['b_index']) and pd.notna(row['b_match'])
    else None,
    axis=1
)
no_nan = my_result[~my_result['b_match'].isna()]
no_skips = no_nan[~no_nan['b_match'].str.contains('-')]
no_skips[no_skips['b_match_2'] != no_skips['b_match']]

Empty DataFrame
Columns: [Unnamed: 0, BOLD ID, Read ID, Country, Phylum, Class, Order, Family, Genus, Species, f_score, f_match, f_index, b_score, b_match, b_index, read, possible_orfs, ORF, region_length, f_length, b_length, Sequence, f_match_2, b_match_2]
Index: []

[0 rows x 25 columns]

In [14]:
# check for spike at 164, because of bounded area not having a good match...
list_of_region_lengths = my_result.groupby('region_length').size().reset_index()
list_of_region_lengths

     region_length  0
0               14  1
1               16  1
2               17  1
3               19  3
4               21  2
..             ... ..
448           1016  1
449           1023  1
450           1024  1
451           1049  1
452           1055  1

[453 rows x 2 columns]